.footer-main-div{
    border: none;
    border-radius: 30px 30px 0px 0px;
    background-color: #253257;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.footer-heading{
    color: #65BB69;
    font-weight: 100;
    margin-bottom: 10px;
}

.footer-links{
    display: grid;
    text-align: left;
    font-weight: 200;
}

.footer-links li{
    color: white;
}

.footer-form{
    display: flex;
    flex-direction: column;
}

.footer-form div{
    margin: 8px auto;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.footer-form label{
    color: white;
    font-weight: 100;
}

.footer-form input{
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 2px;
}

.footer-submit{
    background-color: #E1E9FF;
    color: #253257;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.footer-hr{
    color: #E1E9FF;
    width: 20%;
    margin-top: 50px;
}

.footer-group-description{
    color: #e1e9ff63;
    font-weight: 100;
}